
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">

		<!-- <div class="deviceCheck"> -->
			<div class="d-flex flex-column flex-root deviceCheck">
				<!--begin::Login-->
				<div class="login login-2 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
					<!--begin::Aside-->
					<div class="login-aside order-2 order-lg-1 d-flex flex-column-fluid flex-lg-row-auto bgi-size-cover bgi-no-repeat p-7 p-lg-10">
						<!--begin: Aside Container-->
						<div class="d-flex flex-row-fluid flex-column justify-content-between">
							<!--begin::Aside body-->
							<div class="d-flex flex-column-fluid flex-column flex-center mt-5 mt-lg-0">
								<a href="#" class="mb-7 text-center">
									<img alt="Logo" src="/images/logo.svg" class="max-h-75px" style="width: 45%;"/>
								</a>
								<!--begin::Signin-->
								<div class="login-form login-signin">
									<div class="text-center mb-10 mb-lg-20">
										<h2 class="font-weight-bold">Sign In</h2>
									</div>
									<!--begin::Form-->
									<form class="form" novalidate="novalidate" id="kt_login_signin_form">
										<div class="form-group py-3 m-0">
											<input class="form-control h-auto border-0 px-0 placeholder-dark-75" type="text" placeholder="Username" id="username" name="username" autocomplete="off" />
										</div>
										<div class="form-group py-3 border-top m-0">
											<input class="form-control h-auto border-0 px-0 placeholder-dark-75" type="Password" placeholder="Password" id="password" name="password" />
										</div>
										<!-- <div class="form-group d-flex flex-wrap justify-content-between align-items-center mt-3">
											<label class="checkbox checkbox-outline m-0 text-muted">
											<input type="checkbox" name="remember" />Remember me
											<span></span></label>
											<a href="javascript:;" id="kt_login_forgot" class="text-muted text-hover-primary">Forgot Password ?</a>
										</div> -->
										<div class="form-group d-flex flex-wrap justify-content-center align-items-center mt-2">
											
											<button id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3">Sign In</button>
										</div>
									</form>
									<!--end::Form-->
								</div>
								<!--end::Signin-->
					
								<!--begin::Forgot-->
								<!-- <div class="login-form login-forgot">
									<div class="text-center mb-10 mb-lg-20">
										<h3 class="">Forgotten Password ?</h3>
										<p class="text-muted font-weight-bold">Enter your email to reset your password</p>
									</div>
									
								</div> -->
								<!--end::Forgot-->
							</div>
							<!--end::Aside body-->
							<!--begin: Aside footer for desktop-->
							<div class="d-flex flex-column-auto justify-content-between mt-15">
								<div class="text-dark-50 font-weight-bold order-2 order-sm-1 my-2">
									<span class="text-muted font-weight-bold mr-2 currentYear"></span>
									<a href="/index" class="text-muted text-hover-primary">Image Viewer</a>
								</div>
								<!-- <div class="d-flex order-1 order-sm-2 my-2">
									<a href="#" class="text-muted text-hover-primary">Privacy</a>
									<a href="#" class="text-muted text-hover-primary ml-4">Legal</a>
									<a href="#" class="text-muted text-hover-primary ml-4">Contact</a>
								</div> -->
							</div>
							<!--end: Aside footer for desktop-->
						</div>
						<!--end: Aside Container-->
					</div>
					<!--begin::Aside-->
					<!--begin::Content-->
					<div class="order-1 order-lg-2 flex-column-auto flex-lg-row-fluid d-flex flex-column p-7" style="background-image: url(/images/hotel_image.jpg);background-size: cover;">
						<!--begin::Content body-->
						<!-- <div class="d-flex flex-column-fluid flex-lg-center">
							<div class="d-flex flex-column justify-content-center">
								<h3 class="display-3 font-weight-bold my-7 text-white">Welcome to <span style="color: #f3f115;">Super</span><span style="color: #fe3165;">8!</span></h3>
								<p class="font-weight-bold font-size-lg text-white opacity-80">HRMS
								<br /></p>
							</div>
						</div> -->
						<!--end::Content body-->
					</div>
					<!--end::Content-->
				</div>
				<!--end::Login-->
			</div>
		

		<!--begin::Main-->
		<!--end::Main-->
		<script>var HOST_URL = "https://keenthemes.com/metronic/tools/preview";</script>
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#fe3165", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js?v=7.0.3"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.3"></script>
		<script src="/javascripts/scripts.bundle.js?v=7.0.3"></script>
		<script>$(".currentYear").text(new Date().getFullYear()+"©");</script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous"></script>

		<script src="/javascripts/api.js"></script>
		<script src="/javascripts/login/login-general.js"></script>
		<!--end::Page Scripts-->
